header{
    position: relative;
}


.headerp1{
    display:flex;
    align-items: center;
}
.burjer{
    margin-left: 1em;
}
.barregrise{
    background-color: #f1eeed;
    height:40px;
    width: 2px;
    margin: 4px 1em;
}
.headerp2{
    display:flex;

    background-color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    justify-content: center;
}

.headerp2 p{
    padding-left: 3px;
}
.loupe1{
    position: absolute;
    z-index: 3;
    margin-left: 15em;
}
#searchbar{height:auto; flex-grow: 1;}
.formulaire               {display:flex; align-items: center;}
.formulaire .champ       {width:100%; height:41px; border-radius: 20px; font-family: 'Open Sans', sans-serif; margin-left: 11px;}
.formulaire .bouton       { background-image: url(picture/PELOU.svg);background-repeat: no-repeat;width: 34px;height:
     29px; background-color: #ffffff; border: 1px; border-radius: 20px; background-color: #ff6f61; position: absolute;
    z-index: 3;padding-left: 29px; margin-left: 97em; background-position: center;}
.barregrise2{
    background-color: #f1eeed;
    height:28px;
    width: 2px;
    margin: 4px 1em;
    position: absolute;
    z-index: 3;
    margin-left: 80em;
    }
.panier{
    border: 1px solid #ff6f61;
    background-color: #ffffff;
    border-radius: 20px;
    width: 159px;
    height: 39px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.hover4{
    padding-left: 2em;
} 
.hoover5{
    padding-left: 2em;
}   
.connexion{
    background-color: #ff6f61;
    border: 1px solid #ff6f61;
    border-radius: 20px;
    width: 145px;
    height: 39px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.boldtext{
    font-weight: bold;
    padding-left: 2em;
}

.boldtext:hover{
    color: #ff6f61;
    cursor: pointer;
}
.hover1{
    display: flex;
    
}
.imgheader{
    margin: 0px;
    padding-left: 2em;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}
.hover1 p:hover{
    color: #ff6f61;
    cursor: pointer;
}
.hover1 p{
    padding-left: 0px;
}
.hover2 p:hover{
    color: #ff6f61;
    cursor: pointer;
}
.hover2{
    display: flex;
}
.hover3 p:hover{
    color: #ff6f61;
    cursor: pointer;
}
.hover3{
    display: flex;    
}
.hover4:hover{
    color: #ff6f61;
    cursor: pointer;
}
.hoover5:hover{
    color: #ff6f61;
    cursor: pointer;
}
.bouffe{
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #00000036;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    width: 50%;
    MARGIN: 30px auto;
}
.alignement1{
    display: flex;
}
.boutontourte{
    position: absolute;
    z-index: 3;
    padding-left: 135px;
    padding-top: 195px;
}
.bouffe1 {
display: flex;
}
.titreT{
    font-size: 18px;
    font-weight: bolder;
    color: #ffffff;
    display: block;
    position: absolute;
    z-index: 3;
    padding-top: 15%;
    padding-left: 12px;
}
.star{
    position: absolute;
    z-index: 3;
    width: 1014px;
    height: 18px;
    padding-left: 12px;
    padding-top: 350px;
    cursor: pointer;
}
.note{
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    z-index: 3;
    padding-top: 340px;
    padding-left: 105px;
}
.star p{
    color: #ffffff;
    font-size: 12px;
}
.like{
    position: absolute;
    z-index: 3;
    margin-left: 260px;
    margin-top: 15px;
    background-color: #ffffff;
    padding-top: 7px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 30px;
    border: 1px solid #ff6f61;
}
.like:active {
    background-color: #f1f1f1;
  }
  
.bouffe1 img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.bouffe1 img:hover {
    filter: brightness(50%);
    }
.boutonrillette{
    position: absolute;
    z-index: 3;
    padding-left: 135px;
    padding-top: 195px;
}
.bouffe2 {
    display: flex;
    padding-left: 20px;
    }
    .titreT2{
        font-size: 18px;
        font-weight: bolder;
        color: #ffffff;
        display: block;
        position: absolute;
        z-index: 3;
        padding-top: 15%;
        padding-left: 12px;
    }
    .star2{
        position: absolute;
        z-index: 3;
        width: 1014px;
        height: 18px;
        padding-left: 12px;
        padding-top: 350px;
        cursor: pointer;
    }
    .note2{
        color: #ffffff;
        font-size: 12px;
        position: absolute;
        z-index: 3;
        padding-top: 340px;
        padding-left: 105px;
    }
    .star2 p{
        color: #ffffff;
        font-size: 12px;
    }
    .like2{
        position: absolute;
        z-index: 3;
        margin-left: 260px;
        margin-top: 15px;
        background-color: #ffffff;
        padding-top: 7px;
        padding-bottom: 3px;
        padding-left: 7px;
        padding-right: 7px;
        border-radius: 30px;
        border: 1px solid #ff6f61;
    }
    .like2:active {
        background-color: #f1f1f1;
      }
    .bouffe2 img{
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
      }
      .bouffe2 img:hover {
        filter: brightness(50%);
        }
    .boutoncury{
        position: absolute;
        z-index: 3;
        padding-left: 135px;
        padding-top: 195px;
    }
    .bouffe3 {
        display: flex;
        padding-left: 20px;
        }
        .titreT3{
            font-size: 18px;
            font-weight: bolder;
            color: #ffffff;
            display: block;
            position: absolute;
            z-index: 3;
            padding-top: 15%;
            padding-left: 12px;
        }
        .star3{
            position: absolute;
            z-index: 3;
            height: 18px;
            padding-left: 12px;
            padding-top: 350px;
            cursor: pointer;
        }
        .note3{
            color: #ffffff;
            font-size: 12px;
            position: absolute;
            z-index: 3;
            padding-top: 340px;
            padding-left: 105px;
        }
        .star3 p{
            color: #ffffff;
            font-size: 12px;
        }
        .like3:active {
            background-color: #f1f1f1;
          }
        .like3{
            position: absolute;
            z-index: 3;
            margin-left: 260px;
            margin-top: 15px;
            background-color: #ffffff;
            padding-top: 7px;
            padding-bottom: 3px;
            padding-left: 7px;
            padding-right: 7px;
            border-radius: 30px;
            border: 1px solid #ff6f61;
        }
        .bouffe3 img{
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
        
        }
        .bouffe3 img:hover {
            filter: brightness(50%);
            }
.preslogo{
    font-family: 'Filson Pro', sans-serif; 
    font-weight: bolder;
    font-size: 24px;
    display: flex;
    justify-content: center;
}
.Rapide{
    position: relative;
    z-index: 3 ;
    padding: 20px;
    border: 1px solid #ffffff  ;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bolder;
    font-size: 13px;
    text-align: center;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.100);
    background-color: #ffffff;
    cursor: pointer; 
}
.Entrees{
    position: relative;
    z-index: 3;
    margin-left: 10px;
    padding: 20px;
    border: 1px solid #ffffff  ;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bolder;
    font-size: 13px;
    text-align: center;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.100);
    background-color: #ffffff;
    cursor: pointer; 
}
.plats{
    position: relative;
    z-index: 3;
    margin-left: 10px;
    padding: 20px;
    border: 1px solid #FFFFFF ;border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bolder;
    font-size: 13px;
    text-align: center;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.100);
    background-color: #ffffff;
    cursor: pointer; 
}
.desserts{
    position: relative;
    z-index: 3;
    margin-left: 10px;
    padding: 20px;
    border: 1px solid #FFFFFF ;border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bolder;
    font-size: 13px;
    text-align: center;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.100);
    background-color: #ffffff;
    cursor: pointer; 
}
.aperitifs{
    position: relative;
    z-index: 3;
    margin-left: 10px;
    padding: 20px;
    border: 1px solid #FFFFFF ;border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bolder;
    font-size: 13px;
    text-align: center;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.100);
    background-color: #ffffff;
    cursor: pointer; 
}
.sansviande{
    position: relative;
    z-index: 3;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #FFFFFF ;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bolder;
    font-size: 13px;
    text-align: center;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.100);
    background-color: #ffffff;
    cursor: pointer; 
}
.cercle1{
    position: relative;
    z-index: 1;
    height: 177px;
    width: 177px;
    background-color: #705669;
    border-radius: 50%;
    opacity: 0.2;
}
.cercle2{
    position: relative;
    z-index: 1;
    height: 117px;
    width: 117px;
    background-color: #705669;
    border-radius: 50%;
    opacity: 0.2;
}
.cercle3{
    position: relative;
    z-index: 1;
    height: 98px;
    width: 98px;
    background-color: #705669;
    border-radius: 50%;
    opacity: 0.2;
}
.cercles{
    display: flex;
    justify-content: space-around;
}
.menus{
    display: flex;
    justify-content: center;
    margin-top: -10rem;
}
.ingrédientsaisonnier{
    display: flex;
    justify-content: space-around;
    margin-top: 160px;
}
.bettrave{
    cursor: pointer; 
    border: 1px solid #ffffff  ;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bolder;
    font-size: 13px;
    text-align: center;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.100);
    background-color: #ffffff; 
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.artichaut{
    cursor: pointer; 
    border: 1px solid #ffffff  ;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bolder;
    font-size: 13px;
    text-align: center;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.100);
    background-color: #ffffff; 
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.chouvert{
    cursor: pointer; 
    border: 1px solid #ffffff  ;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bolder;
    font-size: 13px;
    text-align: center;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.100);
    background-color: #ffffff; 
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.poireau{
    cursor: pointer; 
    border: 1px solid #ffffff  ;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bolder;
    font-size: 13px;
    text-align: center;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.100);
    background-color: #ffffff; 
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.pommes{
    cursor: pointer; 
    border: 1px solid #ffffff  ;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bolder;
    font-size: 13px;
    text-align: center;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.100);
    background-color: #ffffff; 
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.poires{
    cursor: pointer; 
    border: 1px solid #ffffff  ;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bolder;
    font-size: 13px;
    text-align: center;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.100);
    background-color: #ffffff; 
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.carotte{
    cursor: pointer; 
    border: 1px solid #ffffff  ;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bolder;
    font-size: 13px;
    text-align: center;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.100);
    background-color: #ffffff; 
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.epinard{
    cursor: pointer; 
    border: 1px solid #ffffff  ;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bolder;
    font-size: 13px;
    text-align: center;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.100);
    background-color: #ffffff; 
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.celeri{
    cursor: pointer; 
    border: 1px solid #ffffff  ;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bolder;
    font-size: 13px;
    text-align: center;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.100);
    background-color: #ffffff; 
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.endive{
    cursor: pointer; 
    border: 1px solid #ffffff  ;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bolder;
    font-size: 13px;
    text-align: center;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.100);
    background-color: #ffffff; 
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer{
    background-color: #ff6f61;
}
.resaux{
    
    margin-top: 50px;
    filter: invert(100%) sepia(7%) saturate(7495%) hue-rotate(309deg) brightness(114%) contrast(117%);
    display: flex;
    justify-content: space-around;
    padding: 10px 46rem;
    
}
.contact{
    display: flex;
    justify-content: center;
}
.contact img{
    position: absolute;
    z-index: 3;
    margin-right: 17%;
    margin-top: 12px;
}
.contact p{
    background-color: #ff9b90;
    border: 1px solid #ff9b90;
    border-radius: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding-left: 90px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 60px;
    color: #ffffff;
    font-weight: bolder;
}
.zoom1:hover{
    zoom: 120%;
    cursor: pointer; 
}
.zoom2:hover{
    zoom: 120%;
    cursor: pointer; 
    margin-left: 30px;
}
.zoom3:hover{
    zoom: 120%;
    cursor: pointer;
    margin-left: 30px;
}
.zoom4:hover{
    zoom: 120%;
    cursor: pointer; 
    margin-left: 30px;
}
.zoom5:hover{
    zoom: 120%;
    cursor: pointer; 
    margin-left: 30px;
}
.textchiant{
    margin-left: 25%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #ffffff;
    display: flex;
}
.treti{
    font-size: 18px;
    font-weight: bolder;
}
.treti2{
    font-size: 18px;
    font-weight: bolder;
    display: flex;
}
.recettesthématique{
    display: flex;
}
.block2menufooter{
    display: flex;
}
.credit{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #ffffff;
}
.espaceghettoacorriger{
    padding: 20px;
}

footer{
    position: relative;
    padding-top: 2px;
    
}

.fleche img{
    position: absolute;
    /*filter: invert(100%) sepia(7%) saturate(7495%) hue-rotate(309deg) brightness(114%) contrast(117%);*/
    margin-left: 922px;
    overflow-y: visible;
    overflow-x : auto; 
    top: -47px;
    background-color: #ff6f61 ;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    padding: 11px;
    line-height: 200px;
    
}
.fleche img:active{
    background-color: #ff6e6180;
}
.fleche{
   cursor: pointer; 
}
html{
    scroll-behavior: smooth
}
.abcd{
    display: flex;
    font-size: 16px;
    margin-left:18%;
    
}
.A{
    
    background-color: #ffffff46;
    border-radius: 60px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer; 
}
.A:hover{
    background-color: #ffffff;
    color: #ff6f61;
}
.B{
    
    background-color: #ffffff46;
    border-radius: 60px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer; 
}
.B:hover{
    background-color: #ffffff;
    color: #ff6f61;
}
.C{
    
    background-color: #ffffff46;
    border-radius: 60px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer; 
}
.C:hover{
    background-color: #ffffff;
    color: #ff6f61;
}
.D{
    
    background-color: #ffffff46;
    border-radius: 60px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer; 
}
.D:hover{
    background-color: #ffffff;
    color: #ff6f61;
}
.E{
    
    background-color: #ffffff46;
    border-radius: 60px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer; 
}
.E:hover{
    background-color: #ffffff;
    color: #ff6f61;
}
.F{
    
    background-color: #ffffff46;
    border-radius: 60px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer; 
}
.F:hover{
    background-color: #ffffff;
    color: #ff6f61;
}
.G{
    
    background-color: #ffffff46;
    border-radius: 60px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer; 
}
.G:hover{
    background-color: #ffffff;
    color: #ff6f61;
}
.H{
    
    background-color: #ffffff46;
    border-radius: 60px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer; 
}
.H:hover{
    background-color: #ffffff;
    color: #ff6f61;
}
.I{
    
    background-color: #ffffff46;
    border-radius: 60px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer; 
}
.I:hover{
    background-color: #ffffff;
    color: #ff6f61;
}
.J{
    
    background-color: #ffffff46;
    border-radius: 60px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer; 
}
.J:hover{
    background-color: #ffffff;
    color: #ff6f61;
}
.K{
    
    background-color: #ffffff46;
    border-radius: 60px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer; 
}
.K:hover{
    background-color: #ffffff;
    color: #ff6f61;
}
.L{
    
    background-color: #ffffff46;
    border-radius: 60px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer; 
}
.L:hover{
    background-color: #ffffff;
    color: #ff6f61;
}
.M{
    
    background-color: #ffffff46;
    border-radius: 60px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer; 
}
.M:hover{
    background-color: #ffffff;
    color: #ff6f61;
}
.N{
    
    background-color: #ffffff46;
    border-radius: 60px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer; 
}
.N:hover{
    background-color: #ffffff;
    color: #ff6f61;
}
.O{
    
    background-color: #ffffff46;
    border-radius: 60px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer; 
}
.O:hover{
    background-color: #ffffff;
    color: #ff6f61;
}
.P{
    
    background-color: #ffffff46;
    border-radius: 60px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer; 
}
.P:hover{
    background-color: #ffffff;
    color: #ff6f61;
}
.Q{
    
    background-color: #ffffff46;
    border-radius: 60px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer; 
}
.Q:hover{
    background-color: #ffffff;
    color: #ff6f61;
}
.R{
    
    background-color: #ffffff46;
    border-radius: 60px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer; 
}
.R:hover{
    background-color: #ffffff;
    color: #ff6f61;
}
.S{
    
    background-color: #ffffff46;
    border-radius: 60px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer; 
}
.S:hover{
    background-color: #ffffff;
    color: #ff6f61;
}
.T{
    
    background-color: #ffffff46;
    border-radius: 60px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer; 
}
.T:hover{
    background-color: #ffffff;
    color: #ff6f61;
}
.U{
    
    background-color: #ffffff46;
    border-radius: 60px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer; 
}
.U:hover{
    background-color: #ffffff;
    color: #ff6f61;
}
.V{
    
    background-color: #ffffff46;
    border-radius: 60px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer; 
}
.V:hover{
    background-color: #ffffff;
    color: #ff6f61;
}
.W{
    
    background-color: #ffffff46;
    border-radius: 60px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer; 
}
.W:hover{
    background-color: #ffffff;
    color: #ff6f61;
}
.X{
    
    background-color: #ffffff46;
    border-radius: 60px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer; 
}
.X:hover{
    background-color: #ffffff;
    color: #ff6f61;
}
.Y{
    
    background-color: #ffffff46;
    border-radius: 60px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer; 
}
.Y:hover{
    background-color: #ffffff;
    color: #ff6f61;
}
.Z{
    
    background-color: #ffffff46;
    border-radius: 60px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer; 
}
.Z:hover{
    background-color: #ffffff;
    color: #ff6f61;
}
